In [1217]:
import pandas as pd 
import requests
import json 
import mysql.connector
from dotenv import load_dotenv
import os

In [1193]:
load_dotenv()

True

In [1194]:
API_KEY = os.getenv("API_KEY")
print(API_KEY)

https://www.thesportsdb.com/api/v1/json/123/lookuptable.php?l=4328&s=2024-2025

In [1195]:
url = "https://www.thesportsdb.com/api/v1/json/123/lookuptable.php?l=4328&s=2024-2025"
headers = {
    "X-Auth-Token": API_KEY
}
querystring = {
   "season": 2024
}

In [1196]:
response = requests.get(url= url, headers=headers, params=querystring)

payload = response.json()

In [1197]:
formattet_response = json.dumps(payload, indent= 4)

payload

{'table': [{'idStanding': '5746351',
   'intRank': '1',
   'idTeam': '133602',
   'strTeam': 'Liverpool',
   'strBadge': 'https://r2.thesportsdb.com/images/media/team/badge/kfaher1737969724.png/tiny',
   'idLeague': '4328',
   'strLeague': 'English Premier League',
   'strSeason': '2024-2025',
   'strForm': 'DLDLW',
   'strDescription': 'Champions League',
   'intPlayed': '38',
   'intWin': '25',
   'intLoss': '4',
   'intDraw': '9',
   'intGoalsFor': '86',
   'intGoalsAgainst': '41',
   'intGoalDifference': '45',
   'intPoints': '84',
   'dateUpdated': '2025-06-17 23:00:07'},
  {'idStanding': '5746352',
   'intRank': '2',
   'idTeam': '133604',
   'strTeam': 'Arsenal',
   'strBadge': 'https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png/tiny',
   'idLeague': '4328',
   'strLeague': 'English Premier League',
   'strSeason': '2024-2025',
   'strForm': 'WWDLD',
   'strDescription': 'Champions League',
   'intPlayed': '38',
   'intWin': '20',
   'intLoss': '4',
   'intDraw': '14',
   'intGoalsFor': '69',
   'intGoalsAgainst': '34',
   'intGoalDifference': '35',
   'intPoints': '74',
   'dateUpdated': '2025-06-17 23:00:07'},
  {'idStanding': '5746353',
   'intRank': '3',
   'idTeam': '133613',
   'strTeam': 'Manchester City',
   'strBadge': 'https://r2.thesportsdb.com/images/media/team/badge/vwpvry1467462651.png/tiny',
   'idLeague': '4328',
   'strLeague': 'English Premier League',
   'strSeason': '2024-2025',
   'strForm': 'WWDWW',
   'strDescription': 'Champions League',
   'intPlayed': '38',
   'intWin': '21',
   'intLoss': '9',
   'intDraw': '8',
   'intGoalsFor': '72',
   'intGoalsAgainst': '44',
   'intGoalDifference': '28',
   'intPoints': '71',
   'dateUpdated': '2025-06-17 23:00:07'},
  {'idStanding': '5746354',
   'intRank': '4',
   'idTeam': '133610',
   'strTeam': 'Chelsea',
   'strBadge': 'https://r2.thesportsdb.com/images/media/team/badge/yvwvtu1448813215.png/tiny',
   'idLeague': '4328',
   'strLeague': 'English Premier League',
   'strSeason': '2024-2025',
   'strForm': 'WWLWW',
   'strDescription': 'Champions League',
   'intPlayed': '38',
   'intWin': '20',
   'intLoss': '9',
   'intDraw': '9',
   'intGoalsFor': '64',
   'intGoalsAgainst': '43',
   'intGoalDifference': '21',
   'intPoints': '69',
   'dateUpdated': '2025-06-17 23:00:07'},
  {'idStanding': '5746355',
   'intRank': '5',
   'idTeam': '134777',
   'strTeam': 'Newcastle United',
   'strBadge': 'https://r2.thesportsdb.com/images/media/team/badge/lhwuiz1621593302.png/tiny',
   'idLeague': '4328',
   'strLeague': 'English Premier League',
   'strSeason': '2024-2025',
   'strForm': 'LLWDW',
   'strDescription': 'Champions League',
   'intPlayed': '38',
   'intWin': '20',
   'intLoss': '12',
   'intDraw': '6',
   'intGoalsFor': '68',
   'intGoalsAgainst': '47',
   'intGoalDifference': '21',
   'intPoints': '66',
   'dateUpdated': '2025-06-17 23:00:07'}]}

In [1198]:
standingslist = payload["table"]

[
    {
        "idStanding": "5746351",
        "intRank": "1",
        "idTeam": "133602",
        "strTeam": "Liverpool",
        "strBadge": "https://r2.thesportsdb.com/images/media/team/badge/kfaher1737969724.png/tiny",
        "idLeague": "4328",
        "strLeague": "English Premier League",
        "strSeason": "2024-2025",
        "strForm": "DLDLW",
        "strDescription": "Champions League",
        "intPlayed": "38",
        "intWin": "25",
        "intLoss": "4",
        "intDraw": "9",
        "intGoalsFor": "86",
        "intGoalsAgainst": "41",
        "intGoalDifference": "45",
        "intPoints": "84",
        "dateUpdated": "2025-06-17 23:00:07"
    },
    {
        "idStanding": "5746352",
        "intRank": "2",
        "idTeam": "133604",
        "strTeam": "Arsenal",
        "strBadge": "https://r2.thesportsdb.com/images/media/team/badge/uyhbfe1612467038.png/tiny",
        "idLeague": "4328",
        "strLeague": "English Premier League",
        "strSeason": "2024-2025",
        "strForm": "WWDLD",
        "strDescription": "Champions League",
        "intPlayed": "38",
        "intWin": "20",
        "intLoss": "4",
        "intDraw": "14",
        "intGoalsFor": "69",
        "intGoalsAgainst": "34",
        "intGoalDifference": "35",
        "intPoints": "74",
        "dateUpdated": "2025-06-17 23:00:07"
    },
    {
        "idStanding": "5746353",
        "intRank": "3",
        "idTeam": "133613",
        "strTeam": "Manchester City",
        "strBadge": "https://r2.thesportsdb.com/images/media/team/badge/vwpvry1467462651.png/tiny",
        "idLeague": "4328",
        "strLeague": "English Premier League",
        "strSeason": "2024-2025",
        "strForm": "WWDWW",
        "strDescription": "Champions League",
        "intPlayed": "38",
        "intWin": "21",
        "intLoss": "9",
        "intDraw": "8",
        "intGoalsFor": "72",
        "intGoalsAgainst": "44",
        "intGoalDifference": "28",
        "intPoints": "71",
        "dateUpdated": "2025-06-17 23:00:07"
    },
    {
        "idStanding": "5746354",
        "intRank": "4",
        "idTeam": "133610",
        "strTeam": "Chelsea",
        "strBadge": "https://r2.thesportsdb.com/images/media/team/badge/yvwvtu1448813215.png/tiny",
        "idLeague": "4328",
        "strLeague": "English Premier League",
        "strSeason": "2024-2025",
        "strForm": "WWLWW",
        "strDescription": "Champions League",
        "intPlayed": "38",
        "intWin": "20",
        "intLoss": "9",
        "intDraw": "9",
        "intGoalsFor": "64",
        "intGoalsAgainst": "43",
        "intGoalDifference": "21",
        "intPoints": "69",
        "dateUpdated": "2025-06-17 23:00:07"
    },
    {
        "idStanding": "5746355",
        "intRank": "5",
        "idTeam": "134777",
        "strTeam": "Newcastle United",
        "strBadge": "https://r2.thesportsdb.com/images/media/team/badge/lhwuiz1621593302.png/tiny",
        "idLeague": "4328",
        "strLeague": "English Premier League",
        "strSeason": "2024-2025",
        "strForm": "LLWDW",
        "strDescription": "Champions League",
        "intPlayed": "38",
        "intWin": "20",
        "intLoss": "12",
        "intDraw": "6",
        "intGoalsFor": "68",
        "intGoalsAgainst": "47",
        "intGoalDifference": "21",
        "intPoints": "66",
        "dateUpdated": "2025-06-17 23:00:07"
    }
]

In [1200]:
Liverpool_points = standingslist[0]['intPoints']
print(Liverpool_points)

84

In [1201]:
rows = []
collum_name = ['season','position', 'team_id', 'team', 'played', 'won', 'lost', 'draw', 'goals_for', 'goals_against', 'goal_difference', 'points', 'form']
 
for club in standingslist:
    season = 2024
    position = club['intRank']
    team_id = club['idTeam']
    team = club['strTeam']
    played = club['intPlayed']
    won = club['intWin']
    lost = club['intLoss']
    draw = club['intDraw']
    goals_for = club['intGoalsFor']
    goals_against = club['intGoalsAgainst']
    goal_difference = club['intGoalDifference']
    points = club['intPoints']
    form = club['strForm']


    tuple_of_club_record = (season, position, team_id, team, played, won, lost, draw, goals_for, goals_against, goal_difference, points, form)

    rows.append(tuple_of_club_record)

In [1202]:
print(rows)

[(2024, '1', '133602', 'Liverpool', '38', '25', '4', '9', '86', '41', '45', '84', 'DLDLW'), (2024, '2', '133604', 'Arsenal', '38', '20', '4', '14', '69', '34', '35', '74', 'WWDLD'), (2024, '3', '133613', 'Manchester City', '38', '21', '9', '8', '72', '44', '28', '71', 'WWDWW'), (2024, '4', '133610', 'Chelsea', '38', '20', '9', '9', '64', '43', '21', '69', 'WWLWW'), (2024, '5', '134777', 'Newcastle United', '38', '20', '12', '6', '68', '47', '21', '66', 'LLWDW')]

In [1203]:
df = pd.DataFrame(rows, columns=collum_name)

In [1204]:
df.head(13)

,season,position,team_id,team,played,won,lost,draw,goals_for,goals_against,goal_difference,points,form
0,2024,1,133602,Liverpool,38,25,4,9,86,41,45,84,DLDLW
1,2024,2,133604,Arsenal,38,20,4,14,69,34,35,74,WWDLD
2,2024,3,133613,Manchester City,38,21,9,8,72,44,28,71,WWDWW
3,2024,4,133610,Chelsea,38,20,9,9,64,43,21,69,WWLWW
4,2024,5,134777,Newcastle United,38,20,12,6,68,47,21,66,LLWDW

In [1205]:
MYSQL_HOST = os.getenv("MYSQL_HOST")
MYSQL_Port = os.getenv("MYSQL_Port")
MYSQL_PASSWORD = os.getenv("MYSQL_PASSWORD")
MYSQL_USER = os.getenv("MYSQL_USER")
MYSQL_DATABASE = os.getenv("MYSQL_DATABASE")

In [1206]:
server_conn = mysql.connector.connect(
    host=MYSQL_HOST,
    port=MYSQL_Port,
    user="pl_app_writer",
    password="asdasd123x",
    database="PL_football",
    autocommit=False,
    raise_on_warnings=True
)

server_cursor = server_conn.cursor()
print(f"[succesful] - connected to mysql server")

[succesful] - connected to mysql server

In [1207]:
server_cursor.close()
server_conn.close()

In [1208]:
database_connection = mysql.connector.connect(

host=MYSQL_HOST,
port=MYSQL_Port,
user="pl_app_writer",
password="asdasd123x",
database="PL_football",
autocommit=False,
raise_on_warnings=True
)
cursor = database_connection.cursor()
print(f"[succesful] - connected to mysql server]")

[succesful] - connected to mysql server]

In [1209]:
sql_table = "standing"
cursor.execute("SHOW TABLES LIKE %s", (f"{sql_table}",))

if cursor.fetchone() is None:
    raise SystemExit(f"this table {sql_table} is not found.... please create it...")
else:
    print(f"[succes] - this tabel {sql_table} exist, godt arbjede ;)")

[succes] - this tabel standing exist, godt arbjede ;)

In [1210]:
user_team = "Liverpool'; DROP TABLE standing"
cursor.execute("SELECT * FROM standing WHERE team = %s", (user_team,))

In [1211]:
#START THE UPSERT (UPDATE INSERT) OPERATION

table_collums = ['season','position', 'team_id', 'team', 'played', 'won', 'lost', 'draw', 'goals_for', 'goals_against', 'goal_difference', 'points', 'form']
 

standing_df = df[table_collums]

In [1212]:
standing_df

,season,position,team_id,team,played,won,lost,draw,goals_for,goals_against,goal_difference,points,form
0,2024,1,133602,Liverpool,38,25,4,9,86,41,45,84,DLDLW
1,2024,2,133604,Arsenal,38,20,4,14,69,34,35,74,WWDLD
2,2024,3,133613,Manchester City,38,21,9,8,72,44,28,71,WWDWW
3,2024,4,133610,Chelsea,38,20,9,9,64,43,21,69,WWLWW
4,2024,5,134777,Newcastle United,38,20,12,6,68,47,21,66,LLWDW

In [1213]:
standings_record_tubles = standing_df.itertuples(index=False, name=None)

list_of_standing_record_tubles = list(standings_record_tubles)

In [1214]:
UPSERT_SQL = f"""
INSERT INTO {sql_table} 
(season, position, team_id, team, played, won, lost, draw, goals_for, goals_againts, goal_difference, points, form)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
ON DUPLICATE KEY UPDATE
    position = VALUES(position),
    team = VALUES(team),
    played = VALUES(played),
    won = VALUES(won),
    lost = VALUES(lost),
    draw = VALUES(draw),
    goals_for = VALUES(goals_for),
    goals_againts = VALUES(goals_againts),
    goal_difference = VALUES(goal_difference),
    points = VALUES(points),
    form = VALUES(form);
"""

In [1215]:
no_of_rows_uplaoded_to_mysql = len(list_of_standing_record_tubles)

print(no_of_rows_uplaoded_to_mysql)

5

In [1216]:
import mysql.connector

# Reconnect to MySQL
database_connection = mysql.connector.connect(
host=MYSQL_HOST,
port=MYSQL_Port,
user="pl_app_writer",
password="asdasd123x",
database="PL_football"
)

try:
    cursor = database_connection.cursor()
    cursor.executemany(UPSERT_SQL, list_of_standing_record_tubles)
    database_connection.commit()
    print(f"[success] - upsert attempted for {cursor.rowcount} rows")

except Exception as e:
    # Now rollback works because connection is alive
    database_connection.rollback()
    print(f"[error] - rolled back due to this ...: {e}")

finally:
    if cursor:
        cursor.close()
    if database_connection:
        database_connection.close()
    print("✅ All database connections are now closed.")

[success] - upsert attempted for 0 rows
✅ All database connections are now closed.